#top-bar {
  position: fixed;
  top: 10px;
  overflow: hidden;
  width: 99%;
}

#bottom-bar {
  position: fixed;
  bottom: 10px;
  overflow: hidden;
  width: 99%;
}

.left-of-bar {
  float: left;
}

.right-of-bar {
  float: right;
}

a {
  color: black;
  text-decoration: none;
  margin: 0 5px;
}

a:hover {
  text-decoration: underline;
}

.right-of-bar img {
  margin: 0 10px -2.5px 10px;
}

#logo {
  margin-top: 250px;
}

#logo img{
  display: block;
  width: 400px;
  margin: auto;
}

form {
  margin: auto;
}

#location {
  position: fixed;
  bottom: 40px;
  left:15px;
}