body {
  font-family: arial;
}

.top-bar {
  position: fixed;
  top: 10px;
  overflow: hidden;
  width: 99%;
}

.bottom-bar {
  position: fixed;
  bottom: 1%;
  padding: 0.7% 0;
  overflow: hidden;
  width: 100%;
  background-color: #F2F2F2;
}

.left-of-bar {
  float: left;
}

.right-of-bar {
  float: right;
}

.top-bar a, .bottom-bar a {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
  margin: 0 5px;
}

.top-bar a:hover, .bottom-bar a:hover {
  text-decoration: underline;
}

.right-of-bar img {
  margin: 0 10px -2.5px 10px;
}

#logo {
  margin-top: 13%;
}

#logo img{
  display: block;
  width: 300px;
  margin: auto;
}

form {
  text-align: center;
}

form input {
  margin: 20px 15px;
}

form input[type="submit"] {
  border: none;
  background-color: #f2f2f2;
  color: #5F6368;
  padding: 10px 16px;
  font-size: 15px;
}

form input[type="submit"]:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #5F6368;
  background-color: white;
  color: black;
  padding: 10px 16px;
  font-size: 15px;
}

#search-bar {
  width: 525px;
  padding: 10px;
  line-height: 5px;
  font-size: 18px;
}

#location {
  position: fixed;
  bottom: 5%;
  left:0.5%;
  width: 100%;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.54);
  border-color: #e4e4e4;
}

#language {
  text-align: center;
  font-size: 14px;
  margin-top: 0.3%;
}

#language a {
  text-decoration: none;
  color: rgb(26, 13, 171);
}

#sign-in {
  border: none;
  background-color: #4285f4;
  color: white;
  padding: 7px 13px;
  text-align: center;
  text-decoration: none;
}